<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">home</a></li>
<li><a href="/about">who?</a></li>
<li><a href="/cv">cv</a></li>
<li><a href="/blog">writings</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:daniel.rusco@gmail.com">email</a></li>
   <li><a href="https://github.com/danielrusco">github.com/danielrusco</a></li>
   </ul>
  </footer>
  </body>

</html>
